html {
    scroll-behavior: smooth;
}

body {
    min-width: 360px;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 10px;
    background-color: white;
}

header .logo {
    font-size: 2rem;
}

header a i {
    text-decoration: none;
    color: #434343;
    font-size: 2rem;
}

main {
    background-color: #F9F9F9;
    padding: 30px 10px;
    width: 100%;
}

button {
    all: unset;
    background-color: #2A8BED;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
}

button img {
    height: 25px;
    width: 25px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.news-section-title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 20px 0px;
}

.news-section-title h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 450;
    max-width: 300px;
}

.news-section-arrow {
    height: 50px;
}

.news-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.news-card {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    padding-bottom: 20px;
    cursor: pointer;
}

.news-card-img {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.news-cards> :nth-child(1)>.news-card-img {
    background-image: url("https://picsum.photos/id/155/3264/2176");
}

.news-cards> :nth-child(3)>.news-card-img {
    background-image: url("https://picsum.photos/id/134/4928/3264");
}

.news-cards> :nth-child(4)>.news-card-img {
    background-image: url("https://picsum.photos/id/182/2896/1944");
}

.news-card-text {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.news-card-text h3 {
    font-weight: 400;
    font-size: 1.3rem;
}

.news-card-text span {
    color: #7E7B7C;
    font-size: 0.75rem;
}

.publication-section-title {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0px;
}

.publication-section-title h2 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 450;
    max-width: 300px;
}

.publication-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.publication-card {
    background-color: #2A8BED;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    gap: 15px;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.publication-card:nth-of-type(2n) {
    background-color: black;
}

.publication-card h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.publication-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.publication-card-bottom img {
    height: 25px;
    width: 25px;
}

.mobile-hidden {
    display: none;
}

a:hover{
    text-shadow: 1px 1px 10px #434343;
}

@media screen and (min-width: 768px) {

    .mobile-hidden {
        display: block;
    }

    button {
        width: 250px;
        align-self: center;
    }

    header {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: #434343;
    }

    section {
        gap: 40px;
    }

    .page-controls {
        display: flex;
        gap: 30px;
    }

    .scroll-control {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-style: italic;
    }

    .news-section-title h1 {
        font-size: 5rem;
        position: relative;
        transform: translateX(-25%);
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-card {
        flex-direction: row;
    }

    .news-card h3 {
        font-size: 1rem;
    }

    .news-card h2 {
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .news-card-text {
        flex-direction: column-reverse;
        height: 100%;
        min-width: 200px;
        max-width: 300px;
        padding: 10px;
    }

    .news-card-img {
        min-width: 120px;
        max-width: 120px;
        height: 200px;
    }

    .publication-section-title {
        align-self: center;
        position: relative;
        transform: translateX(-25%);
    }

    .publication-section-title h2 {
        font-size: 3rem;
    }

    .publication-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    
    section{
        max-width: 1000px;
        margin: auto;
    }

    .news-card-img {
        min-width: 250px;
        max-width: 250px;
    }
}